<div class="container-sm">
    <br>
    <h2  class="text-center">Judy's Diner</h2>
    <div class = "text-center">
        <img src="assets/dusty.jpg" class="img-fluid" alt="Responsive image" style="height:300px;">
    </div>
  <ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" routerLink="/breakfastforex">Order Online</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/hours">Hours of Operation</a>
    </li>
  </ul>
<router-outlet></router-outlet>
</div>
