<br>
<br>
<div class="containser xs">
    <div class="col-sm-4">
        <table class="table table-striped">
            <tbody>
              <tr>
                <th scope="row">Monday</th>
                <td>Mark</td>
        
              </tr>
              <tr>
                <th scope="row">Tuesday</th>
                <td>Jacob</td>
        
              </tr>
              <tr>
                <th scope="row">Wednesday</th>
                <td>Larry</td>
              </tr>
            </tbody>
          </table>
    
    
    </div>

</div>
